/* Copyright (C) 2020-2023 Aditya Shakya <adi1090x@gmail.com> */

* {
	background:			#0f100f;
	background-alt:		#191a18;
	border:				#e1e3da;
	foreground:			#b3b5ad;
	selected:			#e1e3da;
	highlight:			#e1e3da;
	urgent:				#303030;
	on:					#303030;
	off:				#1b1b1b;
}
